

<% @url_visits.each.with_index(1) do |visit, index| %> 
  <tr> 
    <td scope="row">
      <%= index %>
    </td> 
    <td>
      <%= friendly_date visit.created_at %>
    </td>
    <td><%= visit.browser %></td>
    <td><%= visit.version %></td>
    <td><%= visit.platform %></td>
    <td><%= visit.os %></td>
  </tr> 
<% end %>