<div class="jumbotron intro">
  <h1>
    Shorten Urls Like a Boss!
  </h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <%= form_for :url, url: "/urls", html: { class: "form-inline" } do |f| %>
        <div class="form-group">
          <div class="input-group">
            <%= f.text_field :long_url, class: "form-control", pattern: "(https?:\\/\\/)?([a-z0-9]+\\.)?[a-z0-9\\-]+\\.[a-z]+.+[^\\W\\_]", placeholder: "Enter a Url...", required: true %>

            <div class="input-group-addon">
              <%= f.button "Cut it" %>
            </div>

          </div>
        </div>
      <% end %>
      <%= render "urls/partials/display_short_url" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Recently Added Links</div>
      <ul class="list-group">
        <% @recently_added_links.each do |url|%> 
          <li class="list-group-item">
            <%= "#{root_url}#{url.short_url}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Influential Users
      </div>
      <ul class="list-group">
        <% @influential_users.each do |user|%> 
          <li class="list-group-item">
            <span>
              <%= user.username %>
            </span>
            <span class="new-line">
              Links shortened: <%= user.urls_count %>
            </span>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Popular Links
      </div>
      <ul class="list-group">
        <% @popular_links.each do |url|%> 
          <li class="list-group-item">
            <span>
              <%= "#{root_url}#{url.short_url}" %>
            </span>
            <span class="new-line">
              Number of hits: <%= url.click_count %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

