<div class="jumbotron intro">
  <h1>
    Shorten Urls Like a Boss!
  </h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <%= form_for :url, url: "/urls", html: { class: "form-inline" } do |f| %>
        <div class="form-group">
          <div class="input-group">
            <%= f.text_field :long_url, class: "form-control", pattern: "(https?:\\/\\/)?([a-z0-9]+\\.)?[a-z0-9\\-]+\\.[a-z]+.+[^\\W\\_]", placeholder: "Enter a link...", required: true %>

            <div class="input-group-addon">
              <%= f.button "Cut it" %>
            </div>

          </div>
        </div>
      <% end %>

      <% if flash[:short_url] %>
        <div class="text-center alert alert-info">
          <a href="<%= flash[:short_url] %>" target="_blank">
            <%= flash[:short_url] %>
          </a>
        </div>
      <% end %>

    </div>
  </div>
</div>



