<p id="notice"><%= notice %></p>

<p>
  <strong>Long url:</strong>
  <%= @url.long_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @url.short_url %>
</p>

<p>
  <strong>Created:</strong>
  <%= time_ago_in_words(@url.created_at) + " ago" %>
</p>

<p>
  <strong>Number of clicks:</strong>
  <%= @url.click_count %>
</p>

<p>
  <strong>Link Status:</strong>
  Active/Inactive
</p>


<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
