<p id="notice"><%= notice %></p>

<p>
  <strong>Long url:</strong>
  <%= @url.long_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @url.short_url %>
</p>

<p>
  <strong>Created:</strong>
  <%= time_ago_in_words(@url.created_at) + " ago" %>
</p>

<p>
  <strong>Number of clicks:</strong>
  <%= @url.click_count %>
</p>

<p>
  <strong>Link Status:</strong>
  <% if @url.status %>
    Active
  <% else %>
    Inactive
  <% end %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>

<p>Statistics</p>

<table class="table table-striped"> 
  <thead> 
    <tr> 
      <th></th> 
      <th>Date</th> 
      <th>Browser</th> 
      <th>Browser Version</th>
      <th>Platform</th> 
      <th>OS<th>
    </tr> 
  </thead>

  <tbody>
    <% if @url_visits.any? %>
      <%= render "url_visits" %>
    <% else %>
      <tr>
        <td colspan="3">No Urls added yet!</td>
      </tr>
    <% end %>
  </tbody> 
</table>

<%= will_paginate @url_visits %>



