<div class="row">    
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@url) do |f| %>
      <%=render "shared/url_error_messages" %>

      <div class="field">
        <%= f.label :long_url, "Long Url" %><br>
        <%= f.text_field :long_url %>
      </div>
      <div class="field">Vanity String" %><br>
        <%= f.text_field :short_url %>
      </div>

      <div class="switch">
        <label>
          Inactive
          <%= f.check_box :status %>
          <span class="lever"></span>
          Active
        </label>
      </div>

      <div class="actions">
        <%= f.submit "Cut it" %>
      </div>
    <% end %>
  </div>

</div>
