<div class="wrapper">
  <header class="navbar">
    <div class="container">

      <div class="navbar-header">
        <%= link_to "Cutit", root_path, id: "logo" , class: "navbar-brand" %>  
      </div>

      <nav>
        <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li> <a>Welcome, <%= current_user.username %> </a></li>
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log In", login_path, class: "btn btn-default login-btn" %></li>
          <li><%= link_to "Sign Up", signup_path, class: "btn btn-default signup-btn" %></li>
        <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <%= render "urls/partials/url_jumbotron" if current_page?(root_path) %> 
</div>

